@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /* background: linear-gradient(
    45deg,
    #03001e,
    #7303c0,
    #ec38bc,
    #cc5b0f
  ); */

  background-color: rgb(39, 25, 66);
  font-family: 'Nunito', sans-serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
